#nav-bar {
  position: relative;
  height: 80px;
  background-color: #00a087;
  width: 100%;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  top: 0;
  z-index: 20;
}
#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}
#nav-bar .header {
  line-height: 80px;
  font-size: 30px;
  margin-left: 10px;
  float:left;
}
#nav-bar .compose {
  float: right;
  height: 62px;
  width: 140px;
  margin-top: 8px;
  margin-right: 230px;
  border-radius: 10px;
  background: white;
  border-style: none;
  font-family: sans-serif;
  font-size: 23px;
  opacity: 0.9;
  border: 1px solid black;
}
#nav-bar .compose:hover {
  opacity: 1;
  border: 2px solid black;
  cursor: pointer;
}



