.compose {
  border-bottom: 1px solid black;
}
main .new-tweet {
  margin-right: 2em;
  margin-left: 2em;
  padding: 2em;
  position: relative;
  background-color: #eee;
  top: 30px;
  border-radius: 10px;
  padding-top: 1px;
  padding-bottom: 15px;
}
form textarea {
  width: 100%;
  padding: 5px;
}
form .counter {
  float: right;
}